/* Blog Post  card*/
.bpc-par-wrapper {
    border-radius: 12px;
    border: solid 1px #e8e8ea;
    background-color: #fff;
    flex: 0 0 24%;
    display: flex;
    flex-direction: column;
}

.bpc-contnt {
    padding: 1rem;
}

.bp-catg {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.bp-catg span {
    border: 0.1px solid green;
    border-radius: 16px;
    padding: 0.25rem;
    font-size: 12px;
    background: #2c952c;
    color: white;
    letter-spacing: 1.5px;
}

.bpc-contnt>h4 {
    font-size: 24px;
    font-weight: 200;
    padding: 0.8rem 0 0.6rem 0;
    font-family: 'abel';
    line-height: 1.3;
}

.post-author-details {
    justify-content: space-between;
    font-size: 12px;
}

.post-contnt {
    padding-top: 0.6rem;
    font-size: 14px;
}

.readmore-btn {
    font-size: 16px;
    border: 1px solid;
    border-radius: 24px;
    padding: 0.25rem;
    text-align: center;
    margin-top: auto;
}

.post-body-section {
    font-size: 13px;
}

@media (max-width: 768px) {
    .home-latest-post {
        justify-content: space-around;
    }
}