.tmb-container {
    max-width: 1140px;
    margin: auto;
    padding-bottom: 1rem;
}

.tm-pg h1 {
    font-size: 36px;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

p {
    line-height: 1.7;
    padding: 1em 0;
}