.tmb-container {
    max-width: 1140px;
    margin: auto;
    padding-bottom: 1rem;
}

.tm-pg h1 {
    font-size: 36px;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

p {
    line-height: 1.7;
    padding: 1em 0;
}

.tm-pg h2 {
    font-size: 24px;
    font-weight: 500;
}

.tm-pg h3 {
    font-size: 18px;
    font-weight: 500;
}

.tm-pg ul {
    padding-bottom: 1rem;
}

.tm-pg ul li {
    padding: 0.5rem 0;
}