.main-footer {
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    border-top: 0.1px solid green;
    padding: 2em 0;
}

.main-footer,
.footerleft,
.footerright {
    display: flex;
    flex-wrap: wrap;
}

.main-footer {
    align-items: center;
    justify-content: space-between;
}

.footerleft {
    gap: 16px;
}

.footerright {
    gap: 28px;
    font-size: 16px;
}


@media (max-width: 768px) {
    .main-footer {
        padding: 1rem;
        gap: 12px;
    }

    .footerright {
        gap: 24px;
    }
}