.main-footer {
    padding: 1.5rem 0;
}

.main-footer,
.footerleft,
.footerright {
    display: flex;
    flex-wrap: wrap;
}

.main-footer {
    align-items: center;
    justify-content: space-between;
}

.footerleft {
    gap: 16px;
}

.footerright {
    gap: 32px;
}


@media (max-width: 768px) {
    .main-footer {
        padding: 1rem;
        gap: 12px;
    }

    .footerright {
        gap: 24px;
    }
}