.tm-blogpge h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 600;
}

.bp-ltstpst {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
}